body, div, h1, p, h2, h3, h4, li{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper{margin: 0 auto; padding:0px;}
.blue-header{
height :280px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,258dc8+100;Blue+Flat+%231 */
background :#06365f;
}

.insta-phone img{
position:relative;
margin-top:-150px;
}

.insta-phone{padding:30px 70px; float:left;}

.insta-logo img{max-width:50%;}

.insta-logo-box{margin-top:-80px;}

.insta-details-box{

  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 10px;
  width:450px;
  float:left;

}

.insta-desc {
  background-image: url(../img/frame.png);
  margin-top: 0px;
  background-repeat: no-repeat;
  width: auto;
  padding: 10px 30px;
    width: 444px;
  border-radius: 10px;
}

.insta-button p {
  margin-top: -20px;
  font-size: 11px;
  position: relative;
  left: 32px;
  top:2px;
}

.insta-button{
width: 75px;
    margin-right: -45px;
}

.insta-details-box {
  margin-top: -100px;
  padding:20px;
}
img.app-button{max-width:30%;}

img.google-button{max-width:26%;}

.instaplusdetails{
margin-top: -76px;
}

.insta-button {
    background: linear-gradient(#2e6593, #1d5c93);
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  float: right;
  padding: 5px 7px;
  margin-top: -54px;
}

.insta-button img{margin-right:10px;}


.insta-details-box h1{font-size:20px; font-weight:bold; color: #06365f; }

.footer-links ul {margin:0 auto; display:Block; text-align:center;}

.footer-links li{ font-weight: bold; font-size: 12px; display:inline-block; margin:10px; text-transform:uppercase; color:#06365f;; }
